<?php
/** @var  $viewModelMainBlock \GetNoticed\HomeBlocks\ViewModel\MainBlock*/
$viewModelMainBlock = $block->getMainBlockViewModel();
/** @var  $viewModelSubBlock \GetNoticed\HomeBlocks\ViewModel\SubBlock*/
$viewModelSubBlock = $block->getSubBlockViewModel();


if ($viewModelMainBlock->needsDisplaying() || $viewModelSubBlock->needsDisplaying()) :
    ?>
    <div class="homepage-blocks">
        <?php if ($viewModelMainBlock->needsDisplaying()): ?>
            <div class="row">
                <div class="content-block proposition fullwidth align-items-center">
                    <div class="content-block-container">
                        <div class="main-image">
                            <img src="<?= $viewModelMainBlock->getImagePath() ?>" />
                        </div>
                        <div class="content-container">
                    <span>
                        <?= $viewModelMainBlock->getText() ?>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($viewModelSubBlock->needsDisplaying()): ?>
            <div class="row">
                <?php $i = 0; while($i<3 ) { $i++ ?>
                    <div class="content-block<?php echo ($viewModelSubBlock->hasHover($i)) ? '':' no-hover'; if(!$viewModelSubBlock->getLink($i)): echo ' no-link';  endif; ?> square">
                        <div class="gradient"></div>
                        <div class="content-block-container">
                            <div class="image">
                                <img src="<?= $viewModelSubBlock->getImagePath($i)?>" />
                            </div>
                            <div class="content-container flex align-items-flex-end">
                                <?= ($viewModelSubBlock->getLink($i)?'<a href="'.$viewModelSubBlock->getLink($i).'">':'') ?>
                                <div class="content">
                                    <div class="block-content-container flex align-items-flex-end">
                                        <div class="block-content">
                                            <?=$viewModelSubBlock->getLabel($i)?'<span class="label">'.$viewModelSubBlock->getLabel($i).'</span>':'' ?>
                                            <h4><?=$viewModelSubBlock->getText($i)?></h4>
                                            <?php
                                            if($viewModelSubBlock->getLink($i)) {
                                                echo '<span class="arrow">
                                            <svg class="icon icon-chevron">
                                                <use xlink:href="' . $this->getViewFileUrl("svg/symbol-defs.svg") . '#icon-chevron"></use>
                                            </svg>
                                        </span>';
                                            }
                                            ?>
                                        </div>
                                    </div>
                                </div>
                                <?= ($viewModelSubBlock->getLink($i)?'</a>':'')  ?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>