//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .content-block.no-link .content-block-container .content-container .block-content h4 {
    max-width: none;
  }
  .content-block {
    &.no-hover {
      &:hover {
        .content-block-container {
          .image {
            transform: none;
          }
        } 
      }
    }
  }
}